* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --white: #FFFFFF;
    --dark-blue: #000019;
    --green: #285A0F;
}

body {
    width: 100vw;
    min-height: 100vh;
}