.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 1rem 0;
}

.dropdownBtn {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
    background-color: var(--white);
    color: var(--green);
}

.dropdownContainer {
    transform-origin: top right;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    width: 14rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    border: none;
    z-index: 1;
}

.dropdownOptionsContainer {
    padding: 1rem 0;
}

.dropdownOption {
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
}

.dropdownOption:hover {
    background-color: #EEEEEE;
}

.activeValue {
    background-color: #EEEEEE;
}